body {
  background-color: red;
}
ul,
ul li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1.5rem;
  position: relative;
  border-radius: 4px;
}
.menu__logo {
  display: flex;
  align-items: center;
}
.menu__logo > img {
  margin-right: 15px;
}
.menu__logo > a {
  width: 174px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.navbar__menu .menu__item .menu__link {
  font-size: 1rem;
  color: #000;
  font-weight: 600;
  padding-left: 2rem;
  font-family: "Montserrat", sans-serif;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 1400px) {
  .navbar__menu .menu__item .menu__link {
    font-size: 0.9rem;
    color: #000;
    font-weight: 600;
    padding-left: 1.3rem;
  }
  .submenu__items {
    visibility: hidden;
    position: absolute;
    top: calc(100% + 48.2px)!important;
  }
}
@media screen and (max-width: 1200px) {
    .submenu__items {
    top: calc(100% + 41px)!important;
  }
  .navbar__menu .menu__item .menu__link {
    font-size: 11.5px;
    color: #000;
    font-weight: 600;
  }
  .menu__logo > a {
    font-size: 13px;
    width: 60px;
  }
  .logo__img {
    margin-right: 15px;
    width: 60px;
    width: 50px;
  }
}
@media screen and (max-width: 991px) {
  .header {
    display: none;
  }
}
.nav {
  position: relative;
}
.submenu__items {
  visibility: hidden;
  position: absolute;
  top: calc(100% + 48.2px);
  left: calc(14%);
  width: max-content;
  padding: 12px 23px 10px 22px;
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 2px 2px 0px .5px rgb(0, 0, 0,0.1);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  display: inline-flex;
  flex-direction: column;
}
.submenu__items li > a {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  display: inline-block;
  padding-bottom: 13px;
  text-decoration: none;
}
.submenu:hover .submenu__items {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
