@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap");
/* body {
  background-color: #333;
} */
/* =========== */
.header__back {
  background-image: url(../image/Header__Home__img.png);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0 1.5rem 0 1.5rem;
  position: relative;
  border-radius: 4px;
}
.menu__logo {
  display: flex;
  align-items: center;
}
.menu__logo > img {
  margin-right: 15px;
}
.menu__burger {
  cursor: pointer;
}
.menu__logo > a {
  width: 174px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.navbar__menu,
.menu__item {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.navbar__menu .menu__item .menu__link {
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  padding-left: 1.97rem;
  font-family: "Montserrat", sans-serif;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (max-width: 1400px) {
  .navbar__menu .menu__item .menu__link {
    font-size: 0.9rem;
    color: #000;
    font-weight: 600;
    padding-left: 1.0799899rem;
  }
}
@media screen and (max-width: 1200px) {
  .navbar__menu .menu__item .menu__link {
    font-size: 11.5px;
    color: #000;
    font-weight: 600;
  }
  .menu__logo > a {
    font-size: 13px;
    width: 60px;
  }
  .logo__img {
    margin-right: 15px;
    width: 60px;
    width: 50px;
  }
}
.search {
  display: none;
}
@media screen and (max-width: 991px) {
  .nav {
    display: none;
  }
  .search {
    display: block;
  }
  .header__info-menu {
    display: none;
  }
}
.menu__item {
  position: relative;
  line-height: 100px;
}
.submenu__items {
  position: absolute;
  top: calc(100%);
  left: calc(14%);
  height: max-content;
  display: none;
  width: max-content;
  padding: 12px 23px 10px 22px;
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 2px 2px 0px 0.5px rgb(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
}
.submenu__items li > a {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  display: block;
  transition: color 0, 3s ease;
  padding-bottom: 13px;
  text-decoration: none;
}
.submenu__items li {
  list-style: none;
  margin: 5px 0;
}
.menu__item:hover .submenu__items,
.submenu__items:hover {
  display: block;
}
.submenu__area:hover > a {
  color: red;
}
/* =========== */

.header__navigation {
  background: rgba(0, 0, 0, 0.2);
}
.items__links {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  text-decoration: none;
}
.location__address {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.67% */
}
.location__language {
  display: inline-block;
}
.location__language-item {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.67% */
  text-transform: uppercase;
  border: transparent;
  background: none;
}
.location__phone-item {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.67% */
  text-transform: uppercase;
  border: transparent;
  background: none;
}
.loaction-social-media,
.location__phone,
.location__language,
.location__eye {
  padding-left: 2rem;
}
.loaction-social-media > a {
  margin-right: 21px;
}
.location__eye-item {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 992px) {
  .location__phone-item {
    font-size: 10px;
  }
  .location__eye-item {
    font-size: 10px;
  }
  .location__address {
    font-size: 10px;
  }
}
.nav-min {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #fff;
  transform: translateX(100%);
  transition: transform 0.5s;
}
.nav-min.active {
  transform: translateX(0%);
}
.nav-min .nav-min__list_item {
  list-style-type: none;
}
.close {
  position: absolute;
  left: 245px;
  top: 30px;
  width: 20px;
  cursor: pointer;
}
.burger-logo {
  width: 50px;
}
.burger-logo-contend {
  width: 100%;
  display: flex;
  align-items: center;
}
.logo-text {
  display: inline-block;
  max-width: 20%;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}
.nav-min__list {
  padding-left: 15px;
  margin: 0;
}
.nav-min__list .nav-min__list_item {
  margin-bottom: 10px;
}
.nav-min__list .nav-min__list_item .nav-min__link {
  color: #333;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px; /* 118.75% */
  text-transform: uppercase;
  text-decoration: none;
}
.nav-min-btn {
  border-radius: 4px;
  border: 1px solid #365edc;
  background: #365edc;
  display: inline-flex;
  padding: 5px 10px;
  align-items: flex-start;
  gap: 5px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.nav-min-info {
  display: block;
  position: relative;
}
.nav-min-info span {
  color: #bdbdbd;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.nav-min-info span > img {
  padding-right: 8px;
}
.nav-min-social-media > img {
  padding-right: 10px;
}
.nav-min-info-location {
  display: flex;
  flex-direction: column;
  align-items: start !important;
}
.nav-min-info-location > span {
  color: #bdbdbd;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}
.nav-min-info-location span > img {
  padding-right: 10px;
}
.nav-min__language-item {
  color: #bdbdbd;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: transparent;
  background: none;
}
select:focus {
  outline: none;
}
.active {
  display: none;
}
@media screen and (max-width: 768px) {
  .active {
    display: block;
  }
}
.nav-min-social-media {
  position: absolute;
  left: 160px;
  top: 0;
}
.dropdow-menu li {
  margin-top: 10px;
  list-style: none;
}
.dropdow-menu span {
  color: #333;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px; /* 118.75% */
  text-transform: uppercase;
}
.dropdow-menu li a {
  color: #333;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  text-decoration: none;
  display: inline-block;
  width: 272px;
}
.dropdow-menu .close {
  position: absolute;
  left: 245px;
  top: 30px;
  width: 20px;
  cursor: pointer;
}
.dropdow-menu .back {
  position: absolute;
  left: 10px;
  top: 24px;
  width: 30px;
  cursor: pointer;
}
.dropdow-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #fff;
  transform: translateX(100%);
  transition: transform 0.5s;
  z-index: 999;
}

.dropdow-menu.active {
  transform: translateX(0%);
}
.dropdow-menu {
  transform: translateX(100%);
}
/* header nav */
.header__content.active {
  display: none;
}
.header-not-nav {
  position: relative;
  padding: 1.3rem 10%;
}
@media screen and (max-width: 1153px) {
  .header-not-nav {
    padding: 1rem 2%;
  }
}
@media screen and (max-width: 1120px) {
  .header-not-nav-close {
    left: 20px !important;
  }
}
@media screen and (max-width: 992px) {
  .header-not-nav {
    padding: 0.1rem;
  }
}
.header-not-nav-logo-number {
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
}
.header-not-nav-close {
  position: absolute;
  width: 20px;
  left: 50px;
  cursor: pointer;
}
.header-not-nav-btn {
  display: inline-flex;
  padding: 18px 27px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #365edc;
  background: #365edc;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.header-not-nav-menu__logo {
  display: flex;
  align-items: center;
}
.header-not-nav-menu__logo .header-not-nav-logo__img {
  margin-right: 15px;
}
.header-not-nav-menu__logo > a {
  width: 174px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.header-not-nav-social-media > span {
  padding-left: 10px;
}
/* menu */
.header-not-nav-menu-content {
  list-style: none;
}
.header-not-nav-menu-items {
  margin-bottom: 15px;
  position: relative;
}
.header-not-nav-menu-links {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px; /* 118.75% */
  text-transform: uppercase;
  text-decoration: none;
}
.header-not-nav-under-menu {
  position: absolute;
  top: 0px;
  transform: translateX(0%);
  display: none;
}
.header-not-nav-under-menu.active {
  transform: translateX(80%);
  display: block;
}
.header-not-nav-under-menu-items:first-child::before {
  content: "";
  position: absolute;
  border: 0.5px solid white;
  height: 1px;
  width: 150px;
  left: -131px;
  top: 13px;
}
.header-not-nav-under-menu-items {
  margin-bottom: 10px;
  list-style-type: none;
}
.header-not-nav-under-menu-links {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  text-decoration: none;
}
.header-not-nav-info > span {
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.67% */
}
.header-not-nav-info > span > img {
  padding-right: 10px;
}
.header-not-nav {
  display: none;
}
.header-not-nav.active {
  display: block;
}
@media screen and (max-width: 767px) {
  .header-not-nav.active {
    display: none !important;
  }
  .header__content.active{
    display: block !important;
  }
  .menu__burger {
    display: block !important;
  }
  .menu__burger-item {
    display: none;
  }
}
.menu__burger {
  display: none;
}
.header-not-nav-footer{
  margin-top: 300px;
}
