.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}
.slider {
  position: relative;
  /* padding: 0px 60px; */
}
.slider__item {
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 50px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 10px;
}
.slider__item > a > img {
  width: 240px;
}
@media screen and (max-width: 649px) {
  .people-content{
    display: none;
  }
  .townspeople__links{
    display: none;
  }
  .project__links{
    display: none;
  }
  .services__links{
    display: none;
  }
  .main__message{
    display: none;
  }
  .main__townspeople >.news__links{
    display: none;
  }
  .slider .slick-arrow {
    position: static !important;
  }
  .slider .slick-arrow.slick-prev {
    background: none !important;
    border: transparent !important;
    padding: 0 !important;
  }
  .slider .slick-arrow.slick-arrow.slick-next {
    background: none !important;
    border: transparent !important;
    padding: 0 !important;
  }
  .hotline__links {
    display: none;
  }
}
@media screen and (max-width: 313px) {
  .info-res__text {
    width: 50% !important;
    font-size: 25px;
  }
}
@media screen and (max-width: 313px) {
  .services__content {
    padding: 0 !important;
    height: 140px !important;
  }
  .services__content-text {
    width: 80%;
    font-size: 15px;
    line-height: normal;
  }
  .services__icon > img {
    width: 50px !important;
  }
  .slider-text {
    font-size: 13px !important;
    font-weight: bold !important;
  }
  .slider-number {
    font-size: 18px !important;
  }
}
/* стрелки */
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 100;
  font-size: 0;
  width: 10px;
  height: 10px;
  margin: -30px 0px 0px 0px;
}
.slider .slick-arrow.slick-prev {
  left: -3rem;
  background: url(../image/icon/arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.1);
  padding: 15px;
}
.slider .slick-arrow.slick-arrow.slick-next {
  right: -3rem;
  background: url(../image/icon/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  background-color: #fff;
  padding: 15px;
}
/* стрелки */

/* точки внизу */
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: white !important;
  border: 0.5px solid rgb(150, 150, 150);
  border-radius: 50%;
}
.slick-dots li.slick-active button {
  background-color: blue !important;
  border: 0.5px solid white;
}
.slider-text {
  color: #1b1b1b;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}
.slider-number {
  margin: 20px 0 20px 0;
  color: #365edc;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 95.833% */
}
.slider-area {
  display: flex;
  flex-direction: column;
}
.slider-area-icon {
  margin-bottom: 15px;
}
.slider__line {
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  margin: 0 10px 0 10px;
}
/* ======Project slider========== */

.project-slider {
  position: relative;
}

.project__slider-line {
  border-radius: 4px;
  padding: 20px;
  height: 400px;
  margin: 0 10px 0 10px;
}
.project-slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 100;
  font-size: 0;
  width: 10px;
  height: 10px;
  margin: -30px 0px 0px 0px;
}
.project-slider .slick-arrow.slick-prev {
  left: -3rem;
  background: url(../image/icon/arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.1);
  padding: 15px;
}
.project-slider .slick-arrow.slick-arrow.slick-next {
  right: -3rem;
  background: url(../image/icon/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  background-color: #fff;
  padding: 15px;
}
.project__slider-area {
  position: relative;
}
.project-slider-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #2040a2;
  color: white;
  padding: 30px;
  height: 100%;
}
.project-slider-content-header-title {
  color: #c6c6c6;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.project-slider-content-title {
  color: #fff;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.project-slider-content-des {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 300px;
  display: inline-block;
}
.project-slider-content > span {
  background: linear-gradient(90deg, #2040a2 0%, rgba(54, 94, 220, 0) 100%);
}
.project-slider-content-min-img {
  display: none;
}
@media screen and (max-width: 768px) {
  .project__slider-line {
    margin: 0;
  }
  .project__slider-area > img {
    width: 750px !important;
    height: 280px !important;
  }
  .project-slider-content {
    padding: 15px !important;
  }
  .project-slider-content-header-title {
    font-size: 14px !important;
  }
  .project-slider-content-title {
    margin-top: 5px;
    font-size: 20px !important;
  }
  .project-slider-content-des {
    margin-top: 15px;
    font-size: 15px !important;
    width: 200px !important;
  }
  .project-slider .slick-arrow {
    margin: -50px 0px 0px 0px !important;
  }
  .project-slider .slick-arrow.slick-prev {
    left: 0rem !important;
  }
  .project-slider .slick-arrow.slick-arrow.slick-next {
    right: 0rem !important;
  }
}
@media screen and (max-width: 820px) {
  .project__slider-line {
    margin: 0 !important;
  }
  .project__slider-area > img {
    width: 750px !important;
    height: 280px !important;
  }
  /* .project-slider .slick-arrow {
    margin: -50px 0px 0px 0px !important;
  }
  .project-slider .slick-arrow.slick-prev {
    left: 0rem !important;
  }
  .project-slider .slick-arrow.slick-arrow.slick-next {
    right: 0rem !important;
  } */
}
@media screen and (max-width: 1030px) {
  .project-slider .slick-arrow {
    margin: -30px 0px 0px 0px !important;
  }
  .project-slider .slick-arrow.slick-prev {
    left: 0rem !important;
  }
  .project-slider .slick-arrow.slick-arrow.slick-next {
    right: 0rem !important;
  }
}
@media screen and (max-width: 767px) {
  .project-slider .slick-arrow.slick-prev {
    background: transparent;
    padding: none;
    border: none;
  }
  .project-slider .slick-arrow.slick-arrow.slick-next {
    background: transparent;
    border: none;
    padding: none;
  }
  .project__slider-line {
    display: flex;
    justify-content: center;
  }
  .project-slider .slick-list {
    height: 500px !important;
  }
  .project-slider-content-header-title {
    display: none;
  }
  .project-slider-content-big-img {
    display: none;
  }
  .project-slider-content-min-img {
    display: block;
  }
  .project__slider-area {
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    position: static;
    width: 260px !important;
  }
  .project-slider-content {
    position: static;
  }
  .project__slider-area > img {
    width: 260px !important;
    height: 162px !important;
  }
  /* .project-slider .slick-arrow {
    margin: -30px 0px 0px 0px !important;
  }
  .project-slider .slick-arrow.slick-prev {
    left: -0.5rem !important;
  }
  .project-slider .slick-arrow.slick-arrow.slick-next {
    right: -0.5rem !important;
  }
  .project-slider .slick-arrow.slick-prev {
    padding: 10px;
  }
  .project-slider .slick-arrow.slick-arrow.slick-next {
    padding: 10px;
  } */
}
@media screen and (max-width: 431px) and (min-width: 370px) {
  /* .project-slider .slick-arrow.slick-prev {
    left: 3.2rem !important;
  }
  .project-slider .slick-arrow.slick-arrow.slick-next {
    right: 3.2rem !important;
  } */
}
