@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
}
ul li,
a {
  list-style: none;
  text-decoration: none;
}
.header__back {
  background-image: url(../image/Header__Home__img.png);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 500px) {
  .header__navigation {
    display: none !important;
  }
}
.grid-container {
  display: flex;
  gap: 20px; /* Задаем отступ между элементами */
  flex-wrap: wrap;
}
.grid-item {
  flex: 1 1 auto;
}
@media screen and (max-width: 767px) {
  .grid-item {
    display: none !important;
  }
}
.header__navigation {
  background: rgba(0, 0, 0, 0.2);
}
.items__links {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  text-decoration: none;
}
.location__address {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.67% */
}
.logo__location {
  margin-right: 5px;
}
.location__phone {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
.location__language {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.67% */
  text-transform: uppercase;
  border: transparent;
  background: none;
}
.location__glasses {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.028px; /* 166.898% */
}
.navigation__menu {
  position: relative;
  height: 90px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.05);
}

.submenu__items {
  display: none;
  position: absolute;
  top: calc(100% + 10px); /* Расположение под navigation__menu + отступ */
  left: 0;
  width: max-content; /* Ширина подменю */
  padding: 0 32px 0 32px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.submenu__items li a {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
.menu__text {
  width: 174px;
  height: 54px;
  color: #333;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  margin-right: 150px;
}

.menu__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  position: relative;
}

.menu__link {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
}

.submenu:hover .submenu__items {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
.header__text span {
  color: #fff;
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px; /* 112.5% */
}
.header__description span {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.header__btn {
  display: inline-flex;
  padding: 18px 27px;
  align-items: flex-start;
  gap: 10px;
}
.header__btn span {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
/*Main*/
.advertising__img {
  max-width: 100%;
  height: auto;
}
.advertising__img img {
  width: 100%;
}
.news__text,
.message__text,
.townspeople__text,
.hotline__text,
.info-res__text,
.services__text,
.project__text {
  color: #333;
  font-family: Roboto;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
.news__links {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
/* .new__img {
  max-width: 100%;
} */
.new__btn {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 172.727% */
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  background: #fafafa;
}
@media screen and (max-width: 1999px) {
  .card-title {
    font-size: 17px !important;
    font-weight: 500;
  }
}
@media screen and (max-width: 1401px) and (min-width: 768px) {
  .card-title {
    font-size: 13.23px !important;
    font-weight: 500 !important;
  }
  .card-body {
    padding: 10px 3.8px;
  }
}
.card-title {
  color: #333;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
}
.img__des {
  height: 46px;
}
.card-text {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}

/* News Slider Start */

/* To the townspeople Start */
.townspeople {
  background: #f8f8f8;
  margin-top: 50px;
}
.main__people ul {
  padding: 0;
}
.people__icon {
  width: 40px;
  margin: 25px 15px 25px 0;
  display: inline-block;
  background: #fff;
  padding: 5px;
  border-radius: 100px;
}
.icon__area {
  border-radius: 50%;
  background: red;
  padding: 10px 5px;
}
.people__area .people__item {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.people__area {
  position: relative;
}
.people__area::after {
  content: "";
  display: block;
  border-bottom: 1px solid #e5e5eb;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
}
.people__area-min {
  position: relative;
}
.people__area-min > a {
  color: black;
  font-weight: 500;
  font-size: 15px;
}
.people__area-min::after {
  content: "";
  display: block;
  border-bottom: 1px solid #e5e5eb;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
}
.people-content-min {
  display: none;
}
@media screen and (max-width: 767px) {
  .people-content {
    display: none;
  }
  .people-content-min {
    display: block;
  }
}
@media screen and (max-width: 346px) {
  .people__area-min > a {
    color: black;
    font-weight: 400;
    font-size: 13px;
  }
  .people__area-min .people__icon {
    margin-right: 0px !important;
  }
}
@media screen and (max-width: 1200px) {
  .people__icon{
    margin-right: 0px;
    width: 20px;
    padding: 1px;
  }
  .people__area .people__item{
    font-size: 11.3px;
    font-weight: 600;
  }
}
/* To the townspeople End */
/* Events-img start */
.event {
  background: #f8f8f8;
  padding-top: 25px;
  padding-bottom: 25px;
}
.card-events {
  color: #999;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}
/* Events-img End */
/* Инфо сообщения начало */
.message-block {
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 20px;
  max-width: max-content;
}
.message-title {
  color: #333;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
}
.message-description {
  color: #666;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
.message-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-left: 15px;
}
/* Инфо сообщения Конец */

/* Муниципальные услуги начало */
.services__icon {
  padding: 20px 30px 20px 20px;
}
.services__content {
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 20px;
  max-width: 900px;
  height: 176px;
}
.services__content-text {
  width: 65%;
  color: #333;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
}
@media screen and (max-width: 1190px) and (min-width: 992px) {
  .services__content {
    padding: 18px;
  }
  .services__icon {
    padding-right: 20px;
  }
  .services__icon > img {
    width: 60px;
  }
  .services__content-text {
    width: 100%;
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) and (min-width: 769px) {
  .services__content {
    padding: 10px;
  }
  .services__icon {
    padding: 5px 15px 5px 5px;
  }
  .services__icon > img {
    width: 60px;
  }
  .services__content-text {
    width: 100%;
    font-size: 14px;
  }
}
/* Муниципальные услуги конец */

/* Проект начало */
.main__project {
  background: #365edc;
  padding: 50px;
}
.project__text {
  margin-bottom: 20px;
  color: #fff;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
.project__links {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
/* Проект конец */
/* Горячие линии начало */
.main__hotline {
  background: #f8f8f8;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* Горячие линии конец */

/* Информационные ресурсы начало */
.main__info-res {
  margin-top: 80px;
  margin-bottom: 80px;
}
.card-message-data {
  color: #999;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}
.card-message-text {
  color: #333;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  width: 200px;
}
.card-message-desc {
  color: #666;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 153.333% */
  width: 200px;
}
.card-message {
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
}
.card-message > img {
  width: 200px;
}

/* Информационные ресурсы конец */

/* Footer  */
.footer__navigation {
  background: #333;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__logo-img {
  padding-right: 10px;
}
.footer__logo-text {
  width: 151px;
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.footer__logo-des {
  display: flex;
  align-items: center;
}
.footer__logo-des-text {
  width: 227px;
  color: #999;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}
#footer_info {
  background-color: #fefaf3;
  max-width: 100%;
}

.footer__menu {
  margin-top: 25px;
  margin-bottom: 65px;
}
.footer__menu-content-text {
  /* margin-left: 2rem; */
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.footer__menu ul li a {
  color: #999 !important;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  margin-top: 8px;
}
.footer__menu ul li a:hover {
  color: blue !important;
  transition: 0.3s;
  cursor: pointer;
}
.footer__contact {
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
.footer__message-icon {
  margin-right: 0.5rem;
}
.footer__message > a {
  color: #fff;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 161.538% */
}
.footer__message {
  margin-top: 1.2rem;
}
.footer__menu-content-block ul {
  padding: 0 !important;
}
.footer__address-icon {
  margin-right: 0.85rem;
}
.footer__address > span > a {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.footer__address {
  margin-top: 0.7rem;
}
.social-media {
  width: 39px;
  height: 39px;
  border-radius: 4px;
  background: #474747;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.7rem;
  margin-top: 1.5rem;
}
.footer__des {
  color: #999;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  width: 56%;
}
.footer__botom-text {
  margin-right: 5rem;
  color: #999;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}
/* Footer  */
